# .gitignore
/bin

# Go build output
*.exe
*.dll
*.so
*.dylib

# Dependency directories
vendor/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# Ignore the .env file which contains sensitive information
.env
